[package]

name = "rust-tcp-io-perf"
version = "0.0.0"
authors = ["Lorenzo Martini <lmartini@student.ethz.ch>"]
edition = "2021"
readme = "README.md"

description = "A Rust program to measure bandwidth or latency over a Rust TCP connection"

[dependencies]
bytes = "*"
clap = "3"
core_affinity = "0.5.10"
hdrhist = "^0.5.0"

[target.'cfg(all(any(target_arch = "x86_64", target_arch = "aarch64"), target_os = "hermit"))'.dependencies.hermit-sys]
path = "../../hermit-sys"
default-features = false
features = ["with_submodule"]

[features]
default = ["pci", "acpi", "smoltcp", "smp"]
vga = ["hermit-sys/vga"]
dhcpv4 = ["hermit-sys/dhcpv4"]
pci = ["hermit-sys/pci"]
acpi = ["hermit-sys/acpi"]
fsgsbase = ["hermit-sys/fsgsbase"]
smp = ["hermit-sys/smp"]
smoltcp = ["hermit-sys/smoltcp"]
instrument = ["hermit-sys/instrument"]

[[bin]]
name = "server-bw"
path = "src/rust-tcp-bw/server.rs"

[[bin]]
name = "client-bw"
path = "src/rust-tcp-bw/client.rs"

[[bin]]
name = "server-latency"
path = "src/rust-tcp-latency/server.rs"

[[bin]]
name = "client-latency"
path = "src/rust-tcp-latency/client.rs"
