[package]

name = "rust-tcp-io-perf"
version = "0.0.0"
authors = ["Lorenzo Martini <lmartini@student.ethz.ch>"]
edition = "2021"
readme = "README.md"

description = "A Rust program to measure bandwidth or latency over a Rust TCP connection"

[dependencies]
bytes = "*"
clap = "2"
core_affinity = "0.5.10"
hdrhist = "^0.5.0"

[target.'cfg(target_os = "hermit")'.dependencies.hermit-sys]
path = "../../hermit-sys"
default-features = false
features = ["acpi", "pci", "smp", "tcp", "with_submodule"]

[[bin]]
name = "server-bw"
path = "src/rust-tcp-bw/server.rs"

[[bin]]
name = "client-bw"
path = "src/rust-tcp-bw/client.rs"

[[bin]]
name = "server-latency"
path = "src/rust-tcp-latency/server.rs"

[[bin]]
name = "client-latency"
path = "src/rust-tcp-latency/client.rs"
