[package]
name = "micro_benchmarks"
version = "0.1.0"
authors = ["Stefan Lankes <slankes@eonerc.rwth-aachen.de>"]
edition = "2021"
publish = false

[dependencies]
rayon = "1.3.0"

[target.'cfg(all(any(target_arch = "x86_64", target_arch = "aarch64"), target_os = "hermit"))'.dependencies.hermit-sys]
path = "../../hermit-sys"
default-features = false
features = ["with_submodule"]

[target.'cfg(target_arch = "aarch64")'.dependencies]
aarch64 = { version = "0.0.7", default-features = false }
tock-registers = "0.7"

[target.'cfg(target_os = "linux")'.dependencies]
syscalls = { version = "0.2", default-features = false }

[features]
default = ["pci", "acpi", "smp"]
vga = ["hermit-sys/vga"]
pci = ["hermit-sys/pci"]
acpi = ["hermit-sys/acpi"]
fsgsbase = ["hermit-sys/fsgsbase"]
smp = ["hermit-sys/smp"]
instrument = ["hermit-sys/instrument"]
