[package]
name = "rusty_demo"
version = "0.1.0"
authors = ["Stefan Lankes <slankes@eonerc.rwth-aachen.de>"]
edition = "2018"
publish = false

[[bin]]
name = "rusty_demo"
path = "src/main.rs"

[[bin]]
name = "pi_sequential"
path = "src/pi_sequential.rs"

[[bin]]
name = "matrix_multiplcation"
path = "src/matrix_multiplication.rs"

[dependencies]
rayon = "1.5.0"
num_cpus = "1.13"

[target.'cfg(all(any(target_arch = "x86_64", target_arch = "aarch64"), target_os = "hermit"))'.dependencies.hermit-sys]
path = "../../hermit-sys"
default-features = false
features = ["with_submodule"]

[target.'cfg(target_arch = "aarch64")'.dependencies.aarch64]
version = "0.*"
default-features = false

[target.'cfg(target_os = "linux")'.dependencies]
syscalls = { version = "0.2", default-features = false }

[features]
default = ["pci", "acpi", "smp"]
vga = ["hermit-sys/vga"]
pci = ["hermit-sys/pci"]
acpi = ["hermit-sys/acpi"]
fsgsbase = ["hermit-sys/fsgsbase"]
smp = ["hermit-sys/smp"]
instrument = ["hermit-sys/instrument"]

[profile.release]
debug = false
rpath = false
lto = false
debug-assertions = false

[profile.dev]
debug = true       # controls whether the compiler passes `-C debuginfo`
                   # a value of `true` is equivalent to `2`
rpath = false      # controls whether the compiler passes `-C rpath`
lto = false         # controls `-C lto` for binaries and staticlibs
debug-assertions = true # controls whether debug assertions are enabled
