name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6'

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [nightly]
        include:
          - os: ubuntu-latest
            rust: 'nightly'
            components: 'rust-src'
            targets: 'x86_64-unknown-linux-gnu'

    steps:
    - uses: hecrj/setup-rust-action@v1.3.1
      with: 
         rust-version: ${{ matrix.rust }}
         components: ${{ matrix.components || '' }}
         targets: ${{ matrix.targets || '' }}
    - uses: actions/checkout@v1
      with:
         submodules: true
    - name: Check Cargo availability
      run: cargo --version
    - name: Install cargo-download
      run: cargo install cargo-download
    - name: Install xbuild
      run: cargo install cargo-xbuild
    - name: Install qemu/nasm
      run: sudo apt-get update --fix-missing && sudo apt-get install qemu-system-x86 nasm
    - name: Building dev version
      run:
         cargo build -Z build-std=std,core,alloc,panic_abort --target x86_64-unknown-hermit
    - name: Building release version
      run:
         cargo build -Z build-std=std,core,alloc,panic_abort --target x86_64-unknown-hermit --release
    - name: Build loader
      run:
         cd loader && make
    - name: Test dev version
      run:
         qemu-system-x86_64 -display none -smp 1 -m 64M -serial stdio -kernel loader/target/x86_64-unknown-hermit-loader/debug/rusty-loader -initrd target/x86_64-unknown-hermit/debug/rusty_demo -cpu qemu64,apic,fsgsbase,rdtscp,xsave,fxsr,rdrand
    - name: Test release version
      run:
         qemu-system-x86_64 -display none -smp 1 -m 64M -serial stdio -kernel loader/target/x86_64-unknown-hermit-loader/debug/rusty-loader -initrd target/x86_64-unknown-hermit/release/rusty_demo -cpu qemu64,apic,fsgsbase,rdtscp,xsave,fxsr,rdrand
